In [233]:
import numpy as np
import pandas as pd
import sys
import matplotlib.pyplot as plt
import matplotlib as mpl
from sklearn import preprocessing
import seaborn as sns; sns.set(style="white", color_codes=True)
import scipy
import sklearn
from sklearn import preprocessing

In [232]:
artery_train = pd.read_csv('../../../../../../data/train/artery_train.csv',index_col= (1,0))

In [234]:
artery_train.columns

Index([u'Artery_Aorta', u'Artery_Coronary', u'Artery_Tibial', u'median',
       u'n_variants', u'any_tfbs', u'any_enhancer', u'any_promoter',
       u'any_dyadic', u'max_tfbs', u'max_enhancer', u'max_promoter',
       u'max_dyadic', u'max_cadd', u'max_pri_phylop', u'max_mam_phylop',
       u'max_ver_phylop', u'max_pri_phastCons', u'max_mam_phastCons',
       u'max_ver_phastCons', u'max_fitCons', u'max_GerpN', u'max_GerpS',
       u'max_GerpRS', u'max_CpG', u'closest_variant'],
      dtype='object')

In [240]:
artery_train.dropna(inplace=True)
e = sklearn.preprocessing.binarize(np.abs(artery_train["median"]).reshape(-1,1), threshold = 2.0)
g_start = list(artery_train.columns).index("n_variants")
g = sklearn.preprocessing.scale(artery_train.iloc[:,g_start:], axis=0)

In [247]:
artery_train.index.values[0]

('ENSG00000001629.5', 'GTEX-11DXX')

In [252]:
params = pd.read_csv('../data/params_init.txt', index_col=(0), header=None)

In [253]:
params

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,,,,,,,,,,,,,,,,,,,,,
parent,-5.250755,-0.048703,-0.133778,-0.461396,-0.881522,-0.285653,0.026242,0.029709,0.062933,-0.037015,...,0.158510,-0.105992,0.268152,-0.206595,0.294817,-0.094133,-0.048688,-0.000280,-0.453604,-0.000112
brain,-5.259347,0.037928,-0.139370,-0.121520,-0.150262,0.011654,0.057487,0.199904,0.234647,0.058466,...,0.196284,-0.020406,0.181016,-0.162278,0.021673,-0.125604,-0.044420,-0.150433,-0.067490,-0.133692
esophagus,-4.475866,0.008581,0.071187,-0.125044,-0.132931,-0.138295,-0.171675,0.188439,0.183562,0.002152,...,0.042786,-0.037461,-0.066477,0.053822,-0.078658,0.069485,-0.242223,-0.157932,0.038551,-0.106172
artery,-4.384141,0.047607,0.098076,-0.056304,-0.230032,-0.166201,-0.013524,-0.044275,0.330125,0.149891,...,0.183518,0.024992,0.102483,-0.052932,0.073214,0.032524,-0.102511,-0.074424,-0.074124,-0.061851

In [255]:
beta_parent = params.ix["parent"].values

In [256]:
beta_parent

array([ -5.25075454e+00,  -4.87025762e-02,  -1.33778124e-01,
        -4.61395937e-01,  -8.81521833e-01,  -2.85653152e-01,
         2.62419508e-02,   2.97094959e-02,   6.29331087e-02,
        -3.70153488e-02,   1.99640433e-01,  -3.49184603e-01,
         2.31896159e-01,   1.58510000e-01,  -1.05992196e-01,
         2.68152397e-01,  -2.06594526e-01,   2.94816758e-01,
        -9.41332306e-02,  -4.86880136e-02,  -2.80077779e-04,
        -4.53604460e-01,  -1.11897190e-04])

In [202]:
train_df = pd.read_csv('../../../../../../data/train/train_all_tissues.csv',index_col= (1,0))

In [259]:
s = 'adipose2'
'adipose' in s

True

In [180]:
train_df = train_df.dropna(thresh=28)

In [207]:
mult_vars_df = pd.read_csv('../../../../../../data/all_variants_multiple_subjects.csv', index_col=(1))

In [208]:
del mult_vars_df["Unnamed: 0"]

In [209]:
mult_vars_df.head()

,1,2,3,4,5,6,7,8
0,,,,,,,,
ENSG00000000419.8,GTEX-13O3P,GTEX-13OW7,NaN,NaN,NaN,NaN,NaN,NaN
ENSG00000001036.9,GTEX-V1D1,GTEX-ZTSS,NaN,NaN,NaN,NaN,NaN,NaN
ENSG00000001167.10,GTEX-Q2AI,GTEX-R53T,GTEX-RTLS,GTEX-XBEW,NaN,NaN,NaN,NaN
ENSG00000001167.10,GTEX-111FC,GTEX-11GSO,GTEX-RVPV,GTEX-RWS6,GTEX-WFJO,GTEX-Z9EW,GTEX-ZAB4,NaN
ENSG00000001167.10,GTEX-11TTK,GTEX-11WQK,GTEX-SIU8,GTEX-WHWD,GTEX-YEC4,NaN,NaN,NaN

In [210]:
mult_vars_df.drop(mult_vars_df[mult_vars_df["2"].isnull()].index.values, axis=0, inplace=True)

In [213]:
mult_vars_df[mult_vars_df["2"].isnull()]

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8]
Index: []

In [ ]:
train_df.head()

In [217]:
n_2_pairs = mult_vars_df[mult_vars_df['3'].isnull()]

In [186]:
n_2_pairs.head()

                             1           2    3    4    5    6    7    8
0
ENSG00000000419.8   GTEX-13O3P  GTEX-13OW7  NaN  NaN  NaN  NaN  NaN  NaN
ENSG00000001036.9    GTEX-V1D1   GTEX-ZTSS  NaN  NaN  NaN  NaN  NaN  NaN
ENSG00000001629.5    GTEX-Y8DK   GTEX-ZXES  NaN  NaN  NaN  NaN  NaN  NaN
ENSG00000001631.10   GTEX-Y8DK   GTEX-ZXES  NaN  NaN  NaN  NaN  NaN  NaN
ENSG00000002016.12   GTEX-P4QT   GTEX-PW2O  NaN  NaN  NaN  NaN  NaN  NaN

In [187]:
del n_2_pairs["3"], n_2_pairs["4"], n_2_pairs["5"], n_2_pairs["6"], n_2_pairs["7"], n_2_pairs["8"]

In [203]:
print n_2_pairs.values[0]

['GTEX-13O3P' 'GTEX-13OW7']

In [224]:
train_df["median_abs"] = np.abs(train_df.iloc[:,0:43]).median(axis=1)

In [225]:
train_df.head()

,,Adipose_Subcutaneous,Adipose_Visceral_Omentum,Artery_Aorta,Artery_Coronary,Artery_Tibial,Brain_Anterior_cingulate_cortex_BA24,Brain_Caudate_basal_ganglia,Brain_Cerebellar_Hemisphere,Brain_Cerebellum,Brain_Cortex,...,max_mam_phastCons,max_ver_phastCons,max_fitCons,max_GerpN,max_GerpS,max_GerpRS,max_CpG,closest_variant,median,median_abs
gene_id,subject_id,,,,,,,,,,,,,,,,,,,,,
ENSG00000002745.8,GTEX-111CU,-0.167183,0.005090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000,1.000,0.066,6.16,5.01,1401.6,0.00,1537.0,0.110468,0.670569
ENSG00000002746.10,GTEX-111CU,-0.662809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.999,0.992,0.066,4.45,2.00,576.2,0.03,5548.0,-0.345923,0.473701
ENSG00000005075.11,GTEX-111CU,0.508616,0.296740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001,0.000,0.672,5.28,-10.60,391.5,0.16,6338.0,0.541586,0.541586
ENSG00000006025.7,GTEX-111CU,0.699380,-0.957320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.927,0.970,0.110,5.13,4.14,113.7,0.04,424.0,0.055008,0.698974
ENSG00000006042.7,GTEX-111CU,-0.236653,-0.103683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000,1.000,0.702,5.31,4.22,528.2,0.09,3344.0,-0.549696,0.558236

In [226]:
expr = []
for i in range(len(n_2_pairs.index.values)):
    gene = n_2_pairs.index.values[i]
    s1 = n_2_pairs.values[i][0]
    s2 = n_2_pairs.values[i][1]
    expr.append((train_df.ix[gene,s1]["median_abs"], train_df.ix[gene,s2]["median_abs"]))

In [228]:
s_med = np.array(expr)

In [230]:
import sklearn
print 'median spearman: ',scipy.stats.spearmanr(s_med)
Y = sklearn.preprocessing.binarize(np.abs(s_med), threshold=2.5)
print 'median kendall tau 1.5 thresh: ',scipy.stats.kendalltau(Y[:,0], Y[:,1])
print np.count_nonzero(Y), len(Y)

median spearman:  SpearmanrResult(correlation=0.039128059796161588, pvalue=4.3639364474752777e-17)
median kendall tau 1.5 thresh:  KendalltauResult(correlation=0.11095876727066452, pvalue=1.4414225579836929e-279)
266 46084